<li>
  <span class="content"><%= property.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(property.created_at) %> ago.
  </span>
  <% if current_user?(property.user) %>
    <%= link_to "delete", property, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: property.content %>
  <% end %>
</li>